<h3>Add Todo</h3>

<div *ngIf="appState == 'default'">
	<form (submit)="addTodo()" >
	  <input type="text" [(ngModel)]="text" [ngModelOptions]="{standalone: true}">
	</form>
</div>

<div *ngIf="appState == 'edit'">
	<form (submit)="updateTodo()" >
	  <input type="text" [(ngModel)]="text" [ngModelOptions]="{standalone: true}">
	</form>
</div>

<h3>Todo list</h3>
<ul>
  <li *ngFor="let todo of todos">
    <span (click)="editTodo(todo)"> {{todo.text}}</span> <button (click)="deleteTodo(todo.text)">X</button>
  </li>
</ul>